# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
salaries = pd.read_csv("./Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries["Salary or Hourly"].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries["Department"].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
ANIMAL CONTRL             75
HUMAN RESOURCES           75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
TREASURER                 28
DISABILITIES              28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy.stats import ttest_1samp

In [38]:
# H0: hourly wage of workers is the $30/hr
# H1: hourly wage of workers is different from $30/hr

p = 0.05
selection = salaries[(salaries["Salary or Hourly"] == "Hourly")]

stats,pval = ttest_1samp(selection["Hourly Rate"],30)
print("Probability is ",pval)


if pval < .05:
    print("P < 0.05 so we reject the H0")
elif pval >= 0.05:
    print("P => 0.05 so we do not reject the H0")
else:
    print("Something went wrong")

Probability is  3.825475847673794e-202
P < 0.05 so we reject the H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
# Your code here:
# H0: Salaries are the same this year compared to last year (86000)
# H1: Salaries this year are higher than last year (>86000)

p = 0.05
selection = salaries[(salaries["Department"] == "POLICE") &
                    (salaries["Salary or Hourly"] == "Salary")]

stats,pval = ttest_1samp(selection["Annual Salary"],86000)

print("Probability is ",pval / 2) # Because one-sided test


if pval < .05:
    print("P < 0.05 so we reject the H0")
elif pval >= 0.05:
    print("P => 0.05 so we do not reject the H0")
else:
    print("Something went wrong")

Probability is  6.119566952121482e-76
P < 0.05 so we reject the H0

Using the `crosstab` function, find the department that has the most hourly workers.

In [52]:
selection = salaries[(salaries["Salary or Hourly"] == "Hourly")]
crosstab = pd.crosstab(salaries["Department"],selection["Salary or Hourly"].count()
                      ).sort_values(selection["Salary or Hourly"].count(),ascending=False)
crosstab.columns=["Count"]
crosstab.head()

               Count
Department
POLICE         13848
FIRE            4627
STREETS & SAN   2175
WATER MGMNT     1914
AVIATION        1856

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [53]:
# Your code here:
# H0: Hourly wage is $35/hour
# H1: Hourly wage is <$35/hour

selection = salaries[(salaries["Department"] == "POLICE") &
                    (salaries["Salary or Hourly"] == "Hourly")]

print("Probability is ",pval / 2) # Because one-sided test


if pval < .05:
    print("P < 0.05 so we reject the H0")
elif pval >= 0.05:
    print("P => 0.05 so we do not reject the H0")
else:
    print("Something went wrong")

Probability is  6.119566952121482e-76
P < 0.05 so we reject the H0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
from scipy.stats import t

selection = salaries[(salaries["Salary or Hourly"] == "Hourly")]

confidence = 0.95
df = selection["Hourly Rate"].count()-1
mean = selection["Hourly Rate"].mean()
std_error = stats.sem(selection["Hourly Rate"])

t.interval(confidence,df,mean)

(32.626195434727315, 36.5467040025136)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [61]:
selection = salaries[(salaries["Department"] == "POLICE") & 
                    (salaries["Salary or Hourly"] == "Hourly")]

confidence = 0.95
df = selection["Hourly Rate"].count()-1
mean = selection["Hourly Rate"].mean()
std_error = stats.sem(selection["Hourly Rate"])

t.interval(confidence,df,mean)

(10.201342389580962, 14.338657610419041)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: