# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `warehouse_and_retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per supplier.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
from scipy import stats

In [2]:
# Import the dataset
data = pd.read_csv('./Warehouse_and_Retail_Sales.csv')

In [3]:
# View the dataset
data.head(61)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...
56,2017,4,JIM BEAM BRANDS CO,10667,EFFEN VODKA - BLACK CHERRY - 375ML,LIQUOR,0.0,2.0,0.0
57,2017,4,JIM BEAM BRANDS CO,10668,MAKERS MARK BOURBON - 375ML,LIQUOR,0.0,27.0,0.0
58,2017,4,PRESTIGE BEVERAGE GROUP OF MD LLC,10673,CINNABON CINNAMON CREAM LIQ - 750ML,LIQUOR,0.0,1.0,0.0
59,2017,4,MOET HENNESSY USA,106739,VEUVE CLICQUOT DEMI SEC - 375ML,WINE,0.0,1.0,0.0
60,2017,4,OPICI FAMILY DISTRIBUTING OF MD,10675,BRINLEY GOLD SHIPWRECK SPICED RUM - 750ML,LIQUOR,0.0,1.0,0.0

In [4]:
# Identifying datatypes
data.dtypes

YEAR                  int64
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [5]:
# View the data shape
data.shape

(128355, 9)

In [6]:
# Identify columns with empty values
data_empty = data.isnull().sum()
print(data_empty[data_empty>0])

SUPPLIER     24
ITEM TYPE     1
dtype: int64

In [7]:
# There are only a few empty values for Supplier so we drop them
drop_rows = data.loc[data['SUPPLIER'].isnull()].index
data = data.drop(drop_rows, axis = 0)

In [8]:
# There are only one empty value for Item Type so we drop it
drop_rows = data.loc[data['ITEM TYPE'].isnull()].index
data = data.drop(drop_rows, axis = 0)

In [9]:
# View the data shape
data.shape

(128330, 9)

In [10]:
# Double check columns with empty values
data_empty = data.isnull().sum()
print(data_empty[data_empty>0])

Series([], dtype: int64)

In [11]:
# Identify duplicate records and drop them
data_before = len(data)
data.drop_duplicates()
data_after = len(data)
print('Number of duplicate records dropped: ', str(data_before - data_after))

Number of duplicate records dropped:  0

In [12]:
# Identify low variance
low_variance = []
for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
print(low_variance)

[]

In [13]:
if low_variance == []:
    print("There were no numerical values with low variance, so we did not drop any values")
else: 
    print("There were numerical values with low variance, but we decided not to drop any values")

There were no numerical values with low variance, so we did not drop any values

In [14]:
# Investigate descriptive statistics
data.describe().transpose()
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
YEAR,128330.0,2017.206024,0.404449,2017.00,2017.0,2017.00,2017.00,2018.00,0.00
MONTH,128330.0,7.079225,3.645799,1.00,5.0,8.00,10.00,12.00,5.00
RETAIL SALES,128330.0,6.564316,28.927617,-6.49,0.0,0.33,3.25,1616.60,3.25
RETAIL TRANSFERS,128330.0,7.189561,30.642976,-27.66,0.0,0.00,4.00,1587.99,4.00
WAREHOUSE SALES,128330.0,22.681679,239.574553,-4996.00,0.0,1.00,4.00,16271.75,4.00

In [15]:
# Check for outliers
outliers = pd.DataFrame(columns = data.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = data[(data[col] < lower) |
                  (data[col] > upper)].copy()
results['outlier'] = col
outlier = outliers.append(results)
outlier

# print("It seems that Warehouse Sales has 18.194 outliers")

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,outlier
2989,2017,10,DOPS INC,7102,ABITA LIGHT 4/6NR - 12OZ,BEER,0.00,0.00,11.0,WAREHOUSE SALES
3806,2017,12,HEINEKEN USA,31177,TECATE 30 PACK CAN,BEER,0.00,0.00,281.0,WAREHOUSE SALES
5210,2017,5,KYSELA PERE ET FILS LTD,100641,CORTENOVA VENETO P/GRIG - 750ML,WINE,0.00,0.00,16.0,WAREHOUSE SALES
5230,2017,5,STE MICHELLE WINE ESTATES,101974,CH ST MICH P/GRIS - 750ML,WINE,12.38,12.00,13.0,WAREHOUSE SALES
5238,2017,5,SALVETO IMPORTS LLC,10245,CRICOVA ORIGINAL WH - 750ML,WINE,0.25,1.92,97.0,WAREHOUSE SALES
...,...,...,...,...,...,...,...,...,...,...
128343,2018,2,SIERRA NEVADA BREWING CO,99716,SIERRA NEVADA PALE ALE 12/24OZ NR - 24OZ,BEER,0.00,0.00,48.0,WAREHOUSE SALES
128346,2018,2,MILLER BREWING COMPANY,99740,MOLSON GOLDEN 2/12 LNNR - 12OZ,BEER,0.00,0.00,193.5,WAREHOUSE SALES
128350,2018,2,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.46,59.00,212.0,WAREHOUSE SALES
128351,2018,2,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,9.08,7.00,35.0,WAREHOUSE SALES
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.00,32.0,WAREHOUSE SALES

In [16]:
# Harmonize values - View all columns
print(set(data))

{'ITEM CODE', 'WAREHOUSE SALES', 'ITEM TYPE', 'RETAIL TRANSFERS', 'YEAR', 'MONTH', 'RETAIL SALES', 'ITEM DESCRIPTION', 'SUPPLIER'}

In [17]:
# Harmonize values - Item type
set(data['ITEM TYPE'])

{'BEER',
 'DUNNAGE',
 'KEGS',
 'LIQUOR',
 'NON-ALCOHOL',
 'REF',
 'STR_SUPPLIES',
 'WINE'}

In [18]:
# Harmonize values - Supplier
set(data['SUPPLIER'])

{'8 VINI INC',
 'A HARDY USA LTD',
 'A I G WINE & SPIRITS',
 'A VINTNERS SELECTIONS',
 'A&E INC',
 'A&W BORDERS LLC',
 'ADAMBA IMPORTS INTL',
 'AIKO IMPORTERS INC',
 'ALLAGASH BREWING COMPANY',
 'ALLIED IMPORTERS USA LTD',
 'ALTITUDE SPIRITS INC',
 'AMERICAN BEVERAGE CORPORATION',
 'AMERICAN BEVERAGE MARKETERS',
 'AMERICAN FIDELITY TRADING',
 'AMERICAN VINTAGE BEVERAGE INC',
 'ANHEUSER BUSCH INC',
 'ARCHER ROOSE LLC',
 'AREL GROUP WINE & SPIRITS',
 'ARIS A ZISSIS',
 'ARTISANS & VINES LLC',
 'ASAHI BEER USA INC',
 'ATLANTIC WINE & SPIRITS',
 'ATLAS BREW WORKS LLC',
 'AW DIRECT LLC',
 'AZIZ SHAFI TANNIC TONGUE',
 'BACARDI USA INC',
 'BACCHUS IMPORTERS LTD',
 'BACKUP BEVERAGE',
 'BANFI PRODUCTS CORP',
 'BANVILLE & JONES WINE MERCHANTS',
 'BARON FRANCOIS LTD',
 'BARREL ONE INC',
 'BASIGNANI WINERY',
 'BINDING BRAUEREI USA INC',
 'BLACK ANKLE VINEYARDS LLC',
 'BOND DISTRIBUTING CO',
 'BOORDY VINEYARDS',
 'BORVIN BEVERAGE',
 'BOSTON BEER CORPORATION',
 'BOUTIQUE VINEYARDS LLC',
 'BRONCO WINE COMPANY',
 'BROWN-FORMAN BEVERAGES WORLDWIDE',
 'BUCK DISTRIBUTING COMPANY INC',
 'BULLSHINE DISTILLERY LLC',
 'C MONDAVI & SONS',
 'CABERNET CORPORATION',
 'CAFFO BEVERAGES INC',
 'CALVERT BREWING COMPANY',
 'CAMPARI AMERICA LLC',
 'CANTINIERE IMPORTS & DISTRIBUTING INC',
 'CAPE STARZ WINE LLC',
 'CASA CHIRICO LLC',
 'CASTLE BRANDS USA CORP',
 'CELICAR LLC DBA TWIN VALLEY DISTILLERS',
 'CHADDSFORD WINERY LTD',
 'CHARLES JACQUIN ET CIE INC',
 'CHATEAU DIANA LLC',
 'CHEF SOUS LLC',
 'CHEVAL QUANCARD',
 'CLASSIC WINE IMPORTS INC',
 'CLASSIC WINE IMPORTS INC DBA VISION WINE',
 'CLIPPER CITY BREWING CO',
 'COASTAL BREWING COMPANY LLC',
 'COMETE WINES LLC',
 'CONSTANTINE WINES INC',
 'CONSTELLATION BRANDS',
 'COPPER CANE LLC',
 'CRAFT BREW ALLIANCE INC',
 'CRAFT WINE & SPIRITS OF MARYLAND LLC',
 'CROWN IMPORTS',
 "D'AQUINO ITALIAN IMPORTING CO INC",
 'DANGEROUS WINE GROUP LLC',
 'DC BRAU BREWING LLC',
 'DCD ENTERPRISES LLC',
 'DELICATO FAMILY VINEYARDS',
 'DELMAR BREWING COMPANY LLC',
 'DESCHUTES BREWERY INC',
 'DEUTSCH FAMILY WINE & SPIRITS',
 'DIAGEO NORTH AMERICA INC',
 'DIONYSOS IMPORTS INC',
 'DISARONNO INTERNATIONAL LLC',
 'DMV DISTRIBUTING LLC',
 'DOGFISH HEAD CRAFT BREWERY',
 'DOGFISH HEAD DISTILLERY LLC',
 'DOMAINE SELECT WINE & SPIRITS LLC',
 'DON SEBASTIANI & SONS',
 'DOPS INC',
 'DRAGON DISTILLERY LLC',
 'DREYFUS ASHBY INC',
 'DUCKHORN WINE COMPANY',
 'DUCLAW BREWERY LLC',
 'DUGGANS DISTILLERS PROD',
 'DUVEL MOORTGAT USA LTD',
 'Default',
 'E & J GALLO WINERY',
 'E M D SALES INC',
 'EASTERN LIQUOR DISTRIBUTORS INC',
 'ELITE WINES IMPORTS',
 'ELK RUN VINEYARDS',
 'EVEREST SPIRITS LLC',
 'EXCELSIOR WINE COMPANY LLC',
 'FAR NIENTE WINERY INC',
 'FAROPIAN SPIRITS LTD',
 'FERRARI CARANO WINERY',
 'FETZER VINEYARDS',
 'FIFTH GENERATION INC',
 'FIORE WINERY',
 'FIVE GRAPES LLC',
 'FLAVOR SEEKERS LLC',
 'FLYING DOG BREWERY LLLP',
 'FN CELLARS LLC',
 'FOLEY FAMILY WINES INC',
 'FOWLES WINE USA INC',
 'FRANCIS COPPOLA WINERY LLC',
 'FRANK LIN MD',
 'FREDERICK P WINNER LTD',
 'FREDERICK WILDMAN & SONS',
 'FREE RUN WINE MERCHANTS LLC',
 'FREELANCE WINES LLC',
 'FREIXENET USA',
 'FRITZ IMPORTS LLC',
 'FRONT PORCH MICRO WINERY LLC',
 'FRUIT OF THE VINES INC',
 'FX MATT BREWING CO',
 'GAMBRINUS',
 "GATOR RON'S LLC",
 'GEORGIAN HOUSE OF GREATER WASHINGTON',
 'GF WINES, LLC DBA GARY FARRELL WINERY',
 'GLOBAL OCEAN AND AIR CARGO SERVICES',
 'GOOSE RIDGE LLC',
 'GRAIL POINT BREWERY LLC',
 'GRAND ENCLOS DU CHATEAU DE CERONS',
 'GRAPES & BARLEY LLC',
 'GRAPES OF SPAIN INC',
 'GROTH VINEYARDS & WINERY',
 'HAMCO DC',
 'HARVEST IMPORTING LLC',
 'HEAVEN HILL DISTILLERIES INC',
 'HEIMBUCH ESTATE VINEYARDS AND WINERY LLC',
 'HEINEKEN USA',
 'HOME BREW MART INC',
 'HONIG VINEYARD AND WINERY',
 'IMPERO WINE DISTRIBUTORS VIRGINIA INC',
 'INFINIUM SPIRITS INC',
 'INTERBALT PRODUCTS CORP',
 'INTERNATIONAL CELLARS LLC',
 'INTERNATIONAL SPIRITS & WINES LLC',
 'J LOHR WINERY',
 'JACK POUST & COMPANY INC',
 'JACKSON FAMILY ENTERPRISES INC',
 'JIM BEAM BRANDS CO',
 'JOHN GIVEN WINES INC',
 'JORDAN VINEYARD',
 'JOS VICTORI WINES',
 'KAHN PAPER COMPANY INC',
 'KATCEF BROTHERS INC',
 'KING ESTATE WINERY',
 'KLEIN FAMILY VINTNERS',
 'KOBRAND CORPORATION',
 'KYSELA PERE ET FILS LTD',
 'LA ISLA CORPORATION',
 'LABATT USA OPERATING CO LLC',
 'LAIRD AND COMPANY',
 'LANTERNA DISTRIBUTORS INC',
 'LAPHAM SALES & MARKETING DBA LAPHAM',
 'LATITUDE BEVERAGE COMPANY',
 'LCF WINE COMPANY LLC',
 'LEGACY PARTNERS DISTRIBUTION LLC',
 'LEGENDS LTD',
 'LUNEAU USA INC',
 'LUXCO SPIRITED BRANDS',
 'LYON DISTILLING COMPANY LLC',
 'MACCHU PISCO LLC',
 'MADIDUS LLC',
 'MAISON JOMERE LTD',
 'MARK ANTHONY BRANDS INC',
 'MARQUEE SELECTIONS LLC',
 'MASS BAY BREWING CO',
 'MAST-JAEGERMEISTER US INC',
 'MEIOMI',
 'MERRYVALE VINEYARDS',
 'MEXCOR INTERNATIONAL',
 'MHW LTD',
 'MICHAEL R DOWNEY SELECTIONS INC',
 'MILLER BREWING COMPANY',
 'MOET HENNESSY USA',
 'MONDO VINO',
 'MONOCACY BREWING CO LLC',
 'MONSIEUR TOUTON SELECTION',
 'MONTEBELLO BRANDS INC',
 'NARRAGANSETT BREWING COMPANY',
 'NEW BELGIUM BREWING INC',
 'NEW PARROTT & CO',
 'NICE LEGS LLC',
 'NICHE IMPORTERS',
 'NICKOLAS IMPORTS LLC',
 'NOBLE VINTNERS INC',
 'NORTH LOCK LLC DBA PORT CITY BREWING CO',
 'NOVELTY MD INC',
 'OCEAN CITY BREWING CO LLC',
 'OENOS LLC',
 'ONE TRUE VINE',
 'OPICI FAMILY DISTRIBUTING OF MD',
 'ORGANIC VINTNERS INC',
 'OSLO ENTERPRISE',
 'PABST BREWING CO',
 'PACIFIC RIM WINEMAKERS',
 'PALM BAY IMPORTS',
 'PAMPA BEVERAGES LLC DBA TRANSNATIONAL SU',
 'PARK STREET IMPORTS LLC',
 'PATERNO IMPORTS LTD',
 'PERNOD RICARD USA LLC',
 'PIPE CREEK WINES LLC',
 'PLATA WINE PARTNERS LLC',
 'PLUME RIDGE IRREVOCABLE TRUST',
 'POTOMAC SELECTIONS INC',
 'PRECEPT BRANDS LLC',
 'PREMIUM DISTRIBUTORS OF MARYLAND',
 'PRESTIGE BEVERAGE GROUP OF MD LLC',
 'PRESTIGE WINE IMPORTS',
 'PROXIMO SPIRITS INC',
 'PUNTO VINO LLC',
 'PWSWN INC',
 'QUINTESSENTIAL LLC',
 'RAPP CAPITAL LLC',
 'RED INK IMPORTS',
 'RED MOUNTAIN DISTILLING & SPIRITS LLC',
 'RELIABLE CHURCHILL LLLP',
 'REMY COINTREAU USA',
 'REPUBLIC NATIONAL DISTRIBUTING CO',
 'REPUBLIC RESTORATIVES',
 'ROBERT GIRAUD',
 'ROBERT KACHER SELECTIONS LLC',
 'ROBERT OATLEY',
 'ROBERT OATLEY VINEYARDS INC',
 'ROOTS RUN DEEP LLC',
 'ROYAL WINE CORP',
 'RUSSIAN STANDARD VODKA (USA) INC',
 'RUTHERFORD WINE COMPANY',
 'RVWC LLC',
 'SABLE RIDGE VINEYARD LLC',
 'SAGAMORE WHISKEY LLC',
 'SALVETO IMPORTS LLC',
 'SAN ANTONIO WINERY INC',
 'SANGLIER SELECTIONS LLC',
 'SANTA MARGHERITA USA INC',
 'SAZERAC CO',
 'SCHEID VINEYARDS CALIFORNIA INC',
 'SCHMITT SOHNE INC',
 'SCHUG CARNEROS ESTATE WINERY',
 'SCOPERTA IMPORTING COMPANY INC',
 'SERRALLES USA LLC',
 'SIDNEY-FRANK IMPORTING CO',
 'SIERRA NEVADA BREWING CO',
 'SIMON N CELLARS LLC',
 'SINGHA NORTH AMERICA INC',
 'SMITH-ANDERSON ENTERPRISES INC',
 'SOKOL BLOSSER LTD',
 'SOUTHERN GLAZERS WINE AND SPIRITS',
 'SOUTHERN WINE & SPIRITS OF MARYLAND',
 'SPADA ENTERPRISES INC',
 'SPAINS BEST BEERS INC',
 'SPLINTER GROUP NAPA LLC',
 'ST KILLIAN IMPORTING CO INC',
 'ST RICE WINE INC',
 'STARR HILL BREWERY LLC',
 'STE MICHELLE WINE ESTATES',
 'STEFANO INCORPORATED',
 'STELLAR IMPORTING CO LLC',
 'STOLI GROUP (USA) LLC',
 'SUBARASHII KUDAMONO CO INC',
 'SUGARLOAF MOUNTAIN SUNLIGHT VINEYARD LLC',
 'SUGARLOAF MOUNTAIN VINEYARD LLC',
 'SURVILLE ENTERPRISES CORP',
 'SUTTER HOME WINERY INC',
 'SWEETWATER BREWING COMPANY LLC',
 'TAP26MD LLC',
 'TERRAPIN BEER COMPANY',
 'TESTA WINES OF THE WORLD LTD',
 'THE BROOKLYN BREWERY CORPORATION',
 'THE EDRINGTON GROUP USA LLC',
 'THE HESS COLLECTION',
 'THE RIVER WINE',
 'THE SANDY BOTTOM ENTERPRISES LLC',
 'THE SPANISH WINE IMPORTERS LLC',
 'THE TRITON COLLECTION',
 'THE TRITON COLLECTION INC',
 'THE VINERY LLC',
 'THE WINE GROUP',
 'THE WINE SOURCE INC',
 'THREE HENS LLC T/A TENTH HARVEST',
 'THREE STARS BREWING COMPANY LLC',
 'TI BEVERAGE GROUP LTD',
 'TRADEWINDS SPECIALTY IMPORTS LLC',
 'TREANA WINERY LLC',
 'TREASURY WINE ESTATES AMERICAS COMPANY',
 'TREFETHEN VINEYARDS',
 'TRI-VIN IMPORTS',
 'TRICANA SHIPPERS & IMPORT',
 'UNITED STATES BEVERAGE',
 'UNITED STATES DISTILLED PRODUCTS',
 'URUGUAY IMPORTS LTD',
 'USA WINE IMPORTS',
 'USA WINE WEST LLC',
 'VIGNOBLES LVDH USA INC',
 'VIN DIVINO LTD',
 'VINIFERA DISTRIBUTING OF MARYLAND INC',
 'VINTAGE POINT LLC',
 'VINTAGE VIRGINIA APPLES',
 'VINTAGE WINE ESTATES INC',
 'VINTAGE WINES INC',
 'VINTURE WINE COMPANY LLC',
 'VINTUS LLC',
 'VOLUBILIS IMPORTS INC',
 'WAGNER WINE COMPANY LLC',
 'WARSTEINER IMPORTERS',
 'WASHBURN WINE CO',
 'WEIN-BAUER INC',
 'WESTERN SPIRITS BEVERAGE COMPANY LLC',
 'WETTEN IMPORTERS INC',
 'WHITE ROCK DISTILLERS INC',
 'WI INC',
 'WI,INC',
 'WILLIAM GRANT AND SONS INC',
 'WILLIAM HARRISON IMPORTS',
 'WILLIAMS CORNER WINE',
 'WILSON DANIELS LTD',
 'WINE BRIDGE IMPORTS INC',
 'WINEBOW INC',
 'YOUNG WON TRADING INC',
 'YUENGLING BREWERY',
 'Z WINE GALLERY IMPORTS LLC',
 'ZURENA LLC'}

In [19]:
# Replace values - Supplier
data['SUPPLIER'] = data['SUPPLIER'].str.replace(',',' ')
# Check
set(data['SUPPLIER'])

{'8 VINI INC',
 'A HARDY USA LTD',
 'A I G WINE & SPIRITS',
 'A VINTNERS SELECTIONS',
 'A&E INC',
 'A&W BORDERS LLC',
 'ADAMBA IMPORTS INTL',
 'AIKO IMPORTERS INC',
 'ALLAGASH BREWING COMPANY',
 'ALLIED IMPORTERS USA LTD',
 'ALTITUDE SPIRITS INC',
 'AMERICAN BEVERAGE CORPORATION',
 'AMERICAN BEVERAGE MARKETERS',
 'AMERICAN FIDELITY TRADING',
 'AMERICAN VINTAGE BEVERAGE INC',
 'ANHEUSER BUSCH INC',
 'ARCHER ROOSE LLC',
 'AREL GROUP WINE & SPIRITS',
 'ARIS A ZISSIS',
 'ARTISANS & VINES LLC',
 'ASAHI BEER USA INC',
 'ATLANTIC WINE & SPIRITS',
 'ATLAS BREW WORKS LLC',
 'AW DIRECT LLC',
 'AZIZ SHAFI TANNIC TONGUE',
 'BACARDI USA INC',
 'BACCHUS IMPORTERS LTD',
 'BACKUP BEVERAGE',
 'BANFI PRODUCTS CORP',
 'BANVILLE & JONES WINE MERCHANTS',
 'BARON FRANCOIS LTD',
 'BARREL ONE INC',
 'BASIGNANI WINERY',
 'BINDING BRAUEREI USA INC',
 'BLACK ANKLE VINEYARDS LLC',
 'BOND DISTRIBUTING CO',
 'BOORDY VINEYARDS',
 'BORVIN BEVERAGE',
 'BOSTON BEER CORPORATION',
 'BOUTIQUE VINEYARDS LLC',
 'BRONCO WINE COMPANY',
 'BROWN-FORMAN BEVERAGES WORLDWIDE',
 'BUCK DISTRIBUTING COMPANY INC',
 'BULLSHINE DISTILLERY LLC',
 'C MONDAVI & SONS',
 'CABERNET CORPORATION',
 'CAFFO BEVERAGES INC',
 'CALVERT BREWING COMPANY',
 'CAMPARI AMERICA LLC',
 'CANTINIERE IMPORTS & DISTRIBUTING INC',
 'CAPE STARZ WINE LLC',
 'CASA CHIRICO LLC',
 'CASTLE BRANDS USA CORP',
 'CELICAR LLC DBA TWIN VALLEY DISTILLERS',
 'CHADDSFORD WINERY LTD',
 'CHARLES JACQUIN ET CIE INC',
 'CHATEAU DIANA LLC',
 'CHEF SOUS LLC',
 'CHEVAL QUANCARD',
 'CLASSIC WINE IMPORTS INC',
 'CLASSIC WINE IMPORTS INC DBA VISION WINE',
 'CLIPPER CITY BREWING CO',
 'COASTAL BREWING COMPANY LLC',
 'COMETE WINES LLC',
 'CONSTANTINE WINES INC',
 'CONSTELLATION BRANDS',
 'COPPER CANE LLC',
 'CRAFT BREW ALLIANCE INC',
 'CRAFT WINE & SPIRITS OF MARYLAND LLC',
 'CROWN IMPORTS',
 "D'AQUINO ITALIAN IMPORTING CO INC",
 'DANGEROUS WINE GROUP LLC',
 'DC BRAU BREWING LLC',
 'DCD ENTERPRISES LLC',
 'DELICATO FAMILY VINEYARDS',
 'DELMAR BREWING COMPANY LLC',
 'DESCHUTES BREWERY INC',
 'DEUTSCH FAMILY WINE & SPIRITS',
 'DIAGEO NORTH AMERICA INC',
 'DIONYSOS IMPORTS INC',
 'DISARONNO INTERNATIONAL LLC',
 'DMV DISTRIBUTING LLC',
 'DOGFISH HEAD CRAFT BREWERY',
 'DOGFISH HEAD DISTILLERY LLC',
 'DOMAINE SELECT WINE & SPIRITS LLC',
 'DON SEBASTIANI & SONS',
 'DOPS INC',
 'DRAGON DISTILLERY LLC',
 'DREYFUS ASHBY INC',
 'DUCKHORN WINE COMPANY',
 'DUCLAW BREWERY LLC',
 'DUGGANS DISTILLERS PROD',
 'DUVEL MOORTGAT USA LTD',
 'Default',
 'E & J GALLO WINERY',
 'E M D SALES INC',
 'EASTERN LIQUOR DISTRIBUTORS INC',
 'ELITE WINES IMPORTS',
 'ELK RUN VINEYARDS',
 'EVEREST SPIRITS LLC',
 'EXCELSIOR WINE COMPANY LLC',
 'FAR NIENTE WINERY INC',
 'FAROPIAN SPIRITS LTD',
 'FERRARI CARANO WINERY',
 'FETZER VINEYARDS',
 'FIFTH GENERATION INC',
 'FIORE WINERY',
 'FIVE GRAPES LLC',
 'FLAVOR SEEKERS LLC',
 'FLYING DOG BREWERY LLLP',
 'FN CELLARS LLC',
 'FOLEY FAMILY WINES INC',
 'FOWLES WINE USA INC',
 'FRANCIS COPPOLA WINERY LLC',
 'FRANK LIN MD',
 'FREDERICK P WINNER LTD',
 'FREDERICK WILDMAN & SONS',
 'FREE RUN WINE MERCHANTS LLC',
 'FREELANCE WINES LLC',
 'FREIXENET USA',
 'FRITZ IMPORTS LLC',
 'FRONT PORCH MICRO WINERY LLC',
 'FRUIT OF THE VINES INC',
 'FX MATT BREWING CO',
 'GAMBRINUS',
 "GATOR RON'S LLC",
 'GEORGIAN HOUSE OF GREATER WASHINGTON',
 'GF WINES  LLC DBA GARY FARRELL WINERY',
 'GLOBAL OCEAN AND AIR CARGO SERVICES',
 'GOOSE RIDGE LLC',
 'GRAIL POINT BREWERY LLC',
 'GRAND ENCLOS DU CHATEAU DE CERONS',
 'GRAPES & BARLEY LLC',
 'GRAPES OF SPAIN INC',
 'GROTH VINEYARDS & WINERY',
 'HAMCO DC',
 'HARVEST IMPORTING LLC',
 'HEAVEN HILL DISTILLERIES INC',
 'HEIMBUCH ESTATE VINEYARDS AND WINERY LLC',
 'HEINEKEN USA',
 'HOME BREW MART INC',
 'HONIG VINEYARD AND WINERY',
 'IMPERO WINE DISTRIBUTORS VIRGINIA INC',
 'INFINIUM SPIRITS INC',
 'INTERBALT PRODUCTS CORP',
 'INTERNATIONAL CELLARS LLC',
 'INTERNATIONAL SPIRITS & WINES LLC',
 'J LOHR WINERY',
 'JACK POUST & COMPANY INC',
 'JACKSON FAMILY ENTERPRISES INC',
 'JIM BEAM BRANDS CO',
 'JOHN GIVEN WINES INC',
 'JORDAN VINEYARD',
 'JOS VICTORI WINES',
 'KAHN PAPER COMPANY INC',
 'KATCEF BROTHERS INC',
 'KING ESTATE WINERY',
 'KLEIN FAMILY VINTNERS',
 'KOBRAND CORPORATION',
 'KYSELA PERE ET FILS LTD',
 'LA ISLA CORPORATION',
 'LABATT USA OPERATING CO LLC',
 'LAIRD AND COMPANY',
 'LANTERNA DISTRIBUTORS INC',
 'LAPHAM SALES & MARKETING DBA LAPHAM',
 'LATITUDE BEVERAGE COMPANY',
 'LCF WINE COMPANY LLC',
 'LEGACY PARTNERS DISTRIBUTION LLC',
 'LEGENDS LTD',
 'LUNEAU USA INC',
 'LUXCO SPIRITED BRANDS',
 'LYON DISTILLING COMPANY LLC',
 'MACCHU PISCO LLC',
 'MADIDUS LLC',
 'MAISON JOMERE LTD',
 'MARK ANTHONY BRANDS INC',
 'MARQUEE SELECTIONS LLC',
 'MASS BAY BREWING CO',
 'MAST-JAEGERMEISTER US INC',
 'MEIOMI',
 'MERRYVALE VINEYARDS',
 'MEXCOR INTERNATIONAL',
 'MHW LTD',
 'MICHAEL R DOWNEY SELECTIONS INC',
 'MILLER BREWING COMPANY',
 'MOET HENNESSY USA',
 'MONDO VINO',
 'MONOCACY BREWING CO LLC',
 'MONSIEUR TOUTON SELECTION',
 'MONTEBELLO BRANDS INC',
 'NARRAGANSETT BREWING COMPANY',
 'NEW BELGIUM BREWING INC',
 'NEW PARROTT & CO',
 'NICE LEGS LLC',
 'NICHE IMPORTERS',
 'NICKOLAS IMPORTS LLC',
 'NOBLE VINTNERS INC',
 'NORTH LOCK LLC DBA PORT CITY BREWING CO',
 'NOVELTY MD INC',
 'OCEAN CITY BREWING CO LLC',
 'OENOS LLC',
 'ONE TRUE VINE',
 'OPICI FAMILY DISTRIBUTING OF MD',
 'ORGANIC VINTNERS INC',
 'OSLO ENTERPRISE',
 'PABST BREWING CO',
 'PACIFIC RIM WINEMAKERS',
 'PALM BAY IMPORTS',
 'PAMPA BEVERAGES LLC DBA TRANSNATIONAL SU',
 'PARK STREET IMPORTS LLC',
 'PATERNO IMPORTS LTD',
 'PERNOD RICARD USA LLC',
 'PIPE CREEK WINES LLC',
 'PLATA WINE PARTNERS LLC',
 'PLUME RIDGE IRREVOCABLE TRUST',
 'POTOMAC SELECTIONS INC',
 'PRECEPT BRANDS LLC',
 'PREMIUM DISTRIBUTORS OF MARYLAND',
 'PRESTIGE BEVERAGE GROUP OF MD LLC',
 'PRESTIGE WINE IMPORTS',
 'PROXIMO SPIRITS INC',
 'PUNTO VINO LLC',
 'PWSWN INC',
 'QUINTESSENTIAL LLC',
 'RAPP CAPITAL LLC',
 'RED INK IMPORTS',
 'RED MOUNTAIN DISTILLING & SPIRITS LLC',
 'RELIABLE CHURCHILL LLLP',
 'REMY COINTREAU USA',
 'REPUBLIC NATIONAL DISTRIBUTING CO',
 'REPUBLIC RESTORATIVES',
 'ROBERT GIRAUD',
 'ROBERT KACHER SELECTIONS LLC',
 'ROBERT OATLEY',
 'ROBERT OATLEY VINEYARDS INC',
 'ROOTS RUN DEEP LLC',
 'ROYAL WINE CORP',
 'RUSSIAN STANDARD VODKA (USA) INC',
 'RUTHERFORD WINE COMPANY',
 'RVWC LLC',
 'SABLE RIDGE VINEYARD LLC',
 'SAGAMORE WHISKEY LLC',
 'SALVETO IMPORTS LLC',
 'SAN ANTONIO WINERY INC',
 'SANGLIER SELECTIONS LLC',
 'SANTA MARGHERITA USA INC',
 'SAZERAC CO',
 'SCHEID VINEYARDS CALIFORNIA INC',
 'SCHMITT SOHNE INC',
 'SCHUG CARNEROS ESTATE WINERY',
 'SCOPERTA IMPORTING COMPANY INC',
 'SERRALLES USA LLC',
 'SIDNEY-FRANK IMPORTING CO',
 'SIERRA NEVADA BREWING CO',
 'SIMON N CELLARS LLC',
 'SINGHA NORTH AMERICA INC',
 'SMITH-ANDERSON ENTERPRISES INC',
 'SOKOL BLOSSER LTD',
 'SOUTHERN GLAZERS WINE AND SPIRITS',
 'SOUTHERN WINE & SPIRITS OF MARYLAND',
 'SPADA ENTERPRISES INC',
 'SPAINS BEST BEERS INC',
 'SPLINTER GROUP NAPA LLC',
 'ST KILLIAN IMPORTING CO INC',
 'ST RICE WINE INC',
 'STARR HILL BREWERY LLC',
 'STE MICHELLE WINE ESTATES',
 'STEFANO INCORPORATED',
 'STELLAR IMPORTING CO LLC',
 'STOLI GROUP (USA) LLC',
 'SUBARASHII KUDAMONO CO INC',
 'SUGARLOAF MOUNTAIN SUNLIGHT VINEYARD LLC',
 'SUGARLOAF MOUNTAIN VINEYARD LLC',
 'SURVILLE ENTERPRISES CORP',
 'SUTTER HOME WINERY INC',
 'SWEETWATER BREWING COMPANY LLC',
 'TAP26MD LLC',
 'TERRAPIN BEER COMPANY',
 'TESTA WINES OF THE WORLD LTD',
 'THE BROOKLYN BREWERY CORPORATION',
 'THE EDRINGTON GROUP USA LLC',
 'THE HESS COLLECTION',
 'THE RIVER WINE',
 'THE SANDY BOTTOM ENTERPRISES LLC',
 'THE SPANISH WINE IMPORTERS LLC',
 'THE TRITON COLLECTION',
 'THE TRITON COLLECTION INC',
 'THE VINERY LLC',
 'THE WINE GROUP',
 'THE WINE SOURCE INC',
 'THREE HENS LLC T/A TENTH HARVEST',
 'THREE STARS BREWING COMPANY LLC',
 'TI BEVERAGE GROUP LTD',
 'TRADEWINDS SPECIALTY IMPORTS LLC',
 'TREANA WINERY LLC',
 'TREASURY WINE ESTATES AMERICAS COMPANY',
 'TREFETHEN VINEYARDS',
 'TRI-VIN IMPORTS',
 'TRICANA SHIPPERS & IMPORT',
 'UNITED STATES BEVERAGE',
 'UNITED STATES DISTILLED PRODUCTS',
 'URUGUAY IMPORTS LTD',
 'USA WINE IMPORTS',
 'USA WINE WEST LLC',
 'VIGNOBLES LVDH USA INC',
 'VIN DIVINO LTD',
 'VINIFERA DISTRIBUTING OF MARYLAND INC',
 'VINTAGE POINT LLC',
 'VINTAGE VIRGINIA APPLES',
 'VINTAGE WINE ESTATES INC',
 'VINTAGE WINES INC',
 'VINTURE WINE COMPANY LLC',
 'VINTUS LLC',
 'VOLUBILIS IMPORTS INC',
 'WAGNER WINE COMPANY LLC',
 'WARSTEINER IMPORTERS',
 'WASHBURN WINE CO',
 'WEIN-BAUER INC',
 'WESTERN SPIRITS BEVERAGE COMPANY LLC',
 'WETTEN IMPORTERS INC',
 'WHITE ROCK DISTILLERS INC',
 'WI INC',
 'WILLIAM GRANT AND SONS INC',
 'WILLIAM HARRISON IMPORTS',
 'WILLIAMS CORNER WINE',
 'WILSON DANIELS LTD',
 'WINE BRIDGE IMPORTS INC',
 'WINEBOW INC',
 'YOUNG WON TRADING INC',
 'YUENGLING BREWERY',
 'Z WINE GALLERY IMPORTS LLC',
 'ZURENA LLC'}

In [27]:
# Export cleaned document to folder
data.to_csv('./Warehouse_and_Retail_Sales_Clean.csv')

In [21]:
data.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,128330.000000,128330.000000,128330.000000,128330.000000,128330.000000
mean,2017.206024,7.079225,6.564316,7.189561,22.681679
std,0.404449,3.645799,28.927617,30.642976,239.574553
min,2017.000000,1.000000,-6.490000,-27.660000,-4996.000000
25%,2017.000000,5.000000,0.000000,0.000000,0.000000
50%,2017.000000,8.000000,0.330000,0.000000,1.000000
75%,2017.000000,10.000000,3.250000,4.000000,4.000000
max,2018.000000,12.000000,1616.600000,1587.990000,16271.750000

In [22]:
# Create dataframe for suppliers
data_supplier = data.copy()
# Aggregation per supplier that adds up the rest of the values.
data_supplier = data_supplier.groupby(['SUPPLIER'])['WAREHOUSE SALES', 'RETAIL SALES','RETAIL TRANSFERS'].agg(['min','max','mean','sum'])
data_supplier

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                           WAREHOUSE SALES                                \
                                       min     max        mean       sum
SUPPLIER
8 VINI INC                             0.0     1.0    0.111111      1.00
A HARDY USA LTD                        0.0     0.0    0.000000      0.00
A I G WINE & SPIRITS                   0.0    15.0    3.350000    134.00
A VINTNERS SELECTIONS                 -4.0   104.0    3.416323  29776.67
A&E INC                                0.0     0.0    0.000000      0.00
...                                    ...     ...         ...       ...
WINEBOW INC                            0.0     0.0    0.000000      0.00
YOUNG WON TRADING INC                 -1.0    44.0    3.271539   2528.90
YUENGLING BREWERY                     -1.0  1775.0  322.187545  53805.32
Z WINE GALLERY IMPORTS LLC             0.0     3.0    0.533333     16.00
ZURENA LLC                             0.0     0.0    0.000000      0.00

                           RETAIL SALES                              \
                                    min     max       mean      sum
SUPPLIER
8 VINI INC                         0.00    1.07   0.308889     2.78
A HARDY USA LTD                    0.08    0.16   0.133333     0.40
A I G WINE & SPIRITS               0.00    1.67   0.313000    12.52
A VINTNERS SELECTIONS             -1.84  104.04   0.991346  8640.57
A&E INC                            0.08    1.41   0.303158    11.52
...                                 ...     ...        ...      ...
WINEBOW INC                        0.08    0.50   0.177143     1.24
YOUNG WON TRADING INC             -0.42   55.45   1.369534  1058.65
YUENGLING BREWERY                  0.00  642.57  57.654790  9628.35
Z WINE GALLERY IMPORTS LLC         0.00    2.24   0.294333     8.83
ZURENA LLC                         0.00    4.87   1.794444    16.15

                           RETAIL TRANSFERS
                                        min     max       mean       sum
SUPPLIER
8 VINI INC                             0.00    2.00   0.222222      2.00
A HARDY USA LTD                        0.00    0.00   0.000000      0.00
A I G WINE & SPIRITS                   0.00    3.00   0.148000      5.92
A VINTNERS SELECTIONS                 -1.00  107.00   0.959282   8361.10
A&E INC                                0.00    1.00   0.052632      2.00
...                                     ...     ...        ...       ...
WINEBOW INC                           -1.00    0.00  -0.225714     -1.58
YOUNG WON TRADING INC                 -0.50   53.00   1.354981   1047.40
YUENGLING BREWERY                      0.00  711.96  64.977066  10851.17
Z WINE GALLERY IMPORTS LLC             0.00    2.00   0.375000     11.25
ZURENA LLC                            -0.33   11.00   2.296667     20.67

[332 rows x 12 columns]

In [28]:
# Export cleaned document to folder
data_supplier.to_csv('./Warehouse_and_Retail_Sales_Supplier.csv',index = True)

In [26]:
# Create dataframe for items
data_item = data.copy()
# Aggregation per supplier that adds up the rest of the values.
data_item = data_item.groupby(['ITEM TYPE', 'ITEM CODE'])['WAREHOUSE SALES', 'RETAIL SALES','RETAIL TRANSFERS'].agg(['min','max','mean','sum'])
data_item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                    WAREHOUSE SALES                          RETAIL SALES  \
                                min   max       mean     sum          min
ITEM TYPE ITEM CODE
BEER      1001                  1.0   2.0   1.285714    9.00         0.00
          10014                 3.0   6.0   4.333333   13.00         0.25
          1002                  1.0   1.0   1.000000    1.00         0.00
          1008                  0.0   1.0   0.500000    1.00         0.00
          10095                31.0  81.0  56.000000  112.00        25.25
...                             ...   ...        ...     ...          ...
WINE      96069                 0.0  16.0  11.600000  116.00         0.00
          990909                1.0   1.0   1.000000    2.00         0.00
          995692                1.0   4.0   2.250000   18.00         0.00
          99684                 0.0   5.0   2.222222   20.00         0.85
          99693                 0.0   2.0   0.966000    4.83         0.00

                                             RETAIL TRANSFERS        \
                       max       mean    sum              min   max
ITEM TYPE ITEM CODE
BEER      1001        0.00   0.000000   0.00             0.00   0.0
          10014       0.50   0.333333   1.00             0.00   1.0
          1002        0.00   0.000000   0.00             0.00   0.0
          1008        0.00   0.000000   0.00             0.00   0.0
          10095      46.25  35.750000  71.50            58.00  65.0
...                    ...        ...    ...              ...   ...
WINE      96069       6.74   2.542000  25.42            -0.08   4.0
          990909      0.00   0.000000   0.00             0.00   0.0
          995692      0.00   0.000000   0.00             0.00   0.0
          99684       5.57   2.517778  22.66             0.00   7.0
          99693       0.17   0.034000   0.17             0.00   0.0


                          mean     sum
ITEM TYPE ITEM CODE
BEER      1001        0.000000    0.00
          10014       0.333333    1.00
          1002        0.000000    0.00
          1008        0.000000    0.00
          10095      61.500000  123.00
...                        ...     ...
WINE      96069       1.692000   16.92
          990909      0.000000    0.00
          995692      0.000000    0.00
          99684       2.758889   24.83
          99693       0.000000    0.00

[23557 rows x 12 columns]

In [29]:
# Export cleaned document to folder
data_item.to_csv('./Warehouse_and_Retail_Sales_Item.csv',index = True)