# Inferential statistics
## Part I - Data Cleaning

Your family is very passionate about basketball. You always have discussions over players, games, statistics and whatnot. As you can imagine those discussions never reach a conclusion since everyone is simply sharing their opinion with no statistics to back them up!

![](../images/basket.jpg)

Since you are attending a data analysis bootcamp you'd like to take advantage of your newfound knowledge to finally put an end to your family's discussions. 

Luckily we have found a dataset containing data related to the players of the WNBA for the 2016-2017 season that we can use. 

Let's start with cleaning the data and then we'll continue with a general exploratory analysis and some inferential statistics.

### Dataset

The dataset we will be using contains the statistics from the WNBA players for the 2016-2017 season. You will be able to find more information on the dataset in the [codebook](../data/codebook.md) uploaded to the repository.

### Libraries

First we'll import the necessary libraries first and increase the maximum number of displayed columns so you will be able to see all the dataset in the same window.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 100)

### Load the dataset

Load the dataset into a df called `wnba` and take an initial look at it using the `head()` method.

In [16]:
wnba = pd.read_csv("../data/wnba.csv")
wnba.head(60)

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,2,8,173,30,85,35.3,12,32,37.5,21,26,80.8,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,12,30,947,90,177,50.8,5,18,27.8,32,41,78.0,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,4,26,617,82,218,37.6,19,64,29.7,35,42,83.3,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,6,31,721,75,195,38.5,21,68,30.9,17,21,81.0,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,R,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0
5,Alexis Peterson,SEA,G,170,63.0,21.799308,US,"June 20, 1995",22,Syracuse,R,14,90,9,34,26.5,2,9,22.2,6,6,100.0,3,13,16,11,5,0,11,26,0,0
6,Alexis Prince,PHO,G,188,81.0,22.917610,US,"February 5, 1994",23,Baylor,R,16,112,9,34,26.5,4,15,26.7,2,2,100.0,1,14,15,5,4,3,3,24,0,0
7,Allie Quigley,CHI,G,178,64.0,20.199470,US,"June 20, 1986",31,DePaul,8,26,847,166,319,52.0,70,150,46.7,40,46,87.0,9,83,92,95,20,13,59,442,0,0
8,Allisha Gray,DAL,G,185,76.0,22.205990,US,"October 20, 1992",24,South Carolina,2,30,834,131,346,37.9,29,103,28.2,104,129,80.6,52,75,127,40,47,19,37,395,0,0
9,Allison Hightower,WAS,G,178,77.0,24.302487,US,"June 4, 1988",29,LSU,5,7,103,14,38,36.8,2,11,18.2,6,6,100.0,3,7,10,10,5,0,2,36,0,0
10,Alysha Clark,SEA,F,180,76.0,23.456790,US,"July 7, 1987",30,Middle Tennessee,6,30,843,93,183,50.8,20,62,32.3,38,51,74.5,29,97,126,50,22,4,32,244,0,0
11,Alyssa Thomas,CON,F,188,84.0,23.766410,US,"December 4, 1992",24,Maryland,3,28,833,154,303,50.8,0,3,0.0,91,158,57.6,34,158,192,136,48,11,87,399,4,0
12,Amanda Zahui B.,NY,C,196,113.0,29.414827,SE,"August 9, 1993",24,Minnesota,3,25,133,20,53,37.7,2,8,25.0,9,12,75.0,5,18,23,7,4,5,12,51,0,0
13,Amber Harris,CHI,F,196,88.0,22.907122,US,"January 16, 1988",29,Xavier,3,22,146,18,44,40.9,0,10,0.0,5,8,62.5,12,28,40,5,3,9,6,41,0,0
14,Aneika Henry,ATL,F/C,193,87.0,23.356332,JM,"February 13, 1986",31,Florida,6,4,22,4,4,100.0,0,0,0.0,0,0,0.0,0,4,4,1,2,0,3,8,0,0
15,Angel Robinson,PHO,F/C,198,88.0,22.446689,US,"August 30, 1995",21,Arizona State,1,15,237,25,44,56.8,1,1,100.0,7,7,100.0,16,42,58,8,1,11,16,58,0,0
16,Asia Taylor,WAS,F,185,76.0,22.205990,US,"August 22, 1991",26,Louisville,3,20,128,10,31,32.3,0,0,0.0,11,18,61.1,16,21,37,9,5,2,10,31,0,0
17,Bashaara Graves,CHI,F,188,91.0,25.746944,US,"March 17, 1994",23,Tennessee,1,5,59,8,14,57.1,0,0,0.0,3,4,75.0,4,13,17,3,0,1,3,19,0,0
18,Breanna Lewis,DAL,C,196,93.0,24.208663,US,"June 22, 1994",23,Kansas State,R,12,50,2,12,16.7,0,0,0.0,3,4,75.0,2,7,9,2,0,0,7,7,0,0
19,Breanna Stewart,SEA,F/C,193,77.0,20.671696,US,"August 27, 1994",22,Connecticut,2,29,952,201,417,48.2,46,123,37.4,136,171,79.5,43,206,249,78,29,47,68,584,8,0
20,Bria Hartley,NY,G,173,66.0,22.052190,US,"September 30, 1992",24,Connecticut,4,29,598,80,192,41.7,32,93,34.4,25,33,75.8,7,50,57,58,15,5,44,217,0,0
21,Bria Holmes,ATL,G,185,77.0,22.498174,US,"April 19, 1994",23,West Virginia,R,28,655,85,231,36.8,9,50,18.0,56,84,66.7,29,56,85,52,23,7,31,235,0,0
22,Briann January,IND,G,173,65.0,21.718066,US,"November 1, 1987",29,Arizona State,9,25,657,81,205,39.5,18,57,31.6,58,71,81.7,12,25,37,98,23,4,53,238,0,0
23,Brionna Jones,CON,F,191,104.0,28.507990,US,"December 18, 1995",21,Maryland,R,19,112,14,26,53.8,0,0,0.0,16,19,84.2,11,14,25,2,7,1,7,44,0,0
24,Brittany Boyd,NY,G,175,71.0,23.183673,US,"November 6, 1993",23,UC Berkeley,3,2,32,9,15,60.0,0,1,0.0,8,11,72.7,3,5,8,5,3,0,2,26,0,0
25,Brittney Griner,PHO,C,206,93.0,21.915355,US,"October 18, 1990",26,Baylor,5,22,682,167,293,57.0,0,0,0.0,127,154,82.5,43,129,172,39,13,54,52,461,6,0
26,Brittney Sykes,ATL,G,175,66.0,21.551020,US,"July 2, 1994",23,Rutgers,10,30,734,146,362,40.3,29,87,33.3,76,102,74.5,25,94,119,59,18,17,49,397,1,0
27,Camille Little,PHO,F,188,82.0,23.200543,US,"January 18, 1985",32,North Carolina,11,30,759,93,219,42.5,9,52,17.3,33,52,63.5,42,71,113,42,28,13,50,228,0,0
28,Candace Parker,LA,F/C,193,79.0,21.208623,US,"April 19, 1986",31,Tennessee,10,29,889,183,383,47.8,40,114,35.1,88,115,76.5,37,205,242,127,43,53,80,494,10,1
29,Candice Dupree,IND,F,188,81.0,22.917610,US,"February 25, 1984",33,Temple,12,29,911,189,370,51.1,0,2,0.0,57,65,87.7,31,124,155,47,28,12,42,435,2,0
30,Cappie Pondexter,CHI,G,175,73.0,23.836735,US,"July 1, 1983",34,Rutgers,11,24,676,94,258,36.4,8,32,25.0,54,67,80.6,10,59,69,104,17,5,56,250,2,0
31,Carolyn Swords,SEA,C,198,95.0,24.232221,US,"July 19, 1989",28,Boston College,6,26,218,19,39,48.7,0,0,0.0,16,20,80.0,10,29,39,9,5,4,22,54,0,0
32,Cayla George,PHO,C,193,87.0,23.356332,AU,"April 20, 1987",30,Georgia,1,28,365,40,105,38.1,13,45,28.9,7,12,58.3,10,71,81,15,9,11,13,100,1,0
33,Chelsea Gray,LA,G,180,77.0,23.765432,US,"August 10, 1992",25,Duke,3,30,996,165,326,50.6,48,100,48.0,78,94,83.0,19,80,99,132,29,7,61,456,1,0
34,Cheyenne Parker,CHI,F,193,86.0,23.087868,US,"August 22, 1992",25,Middle Tennessee,2,23,286,32,69,46.4,0,3,0.0,23,36,63.9,31,47,78,13,8,15,21,87,0,0
35,Clarissa dos Santos,SAN,C,185,89.0,26.004383,BR,"October 3, 1988",28,Brazil,4,7,52,8,14,57.1,1,1,100.0,0,0,0.0,3,7,10,7,1,1,5,17,0,0
36,Courtney Paris,DAL,C,193,113.0,30.336385,US,"September 21, 1987",29,Oklahoma,7,16,217,32,57,56.1,0,0,0.0,6,12,50.0,28,34,62,5,6,8,18,70,0,0
37,Courtney Vandersloot,CHI,G,173,66.0,22.052190,US,"August 2, 1989",28,Gonzaga,6,22,673,104,199,52.3,23,60,38.3,24,29,82.8,13,75,88,175,22,5,64,255,10,0
38,Courtney Williams,CON,G,173,62.0,20.715694,US,"November 5, 1994",22,South Florida,1,29,755,168,338,49.7,8,30,26.7,31,36,86.1,38,84,122,60,15,6,39,375,1,0
39,Crystal Langhorne,SEA,F/C,188,84.0,23.766410,US,"October 27, 1986",30,Maryland,10,30,848,160,240,66.7,1,2,50.0,49,68,72.1,35,140,175,46,16,11,50,370,2,0
40,Damiris Dantas,ATL,C,191,89.0,24.396261,BR,"November 17, 1992",24,Brazil,4,30,569,98,243,40.3,25,91,27.5,33,43,76.7,29,84,113,19,17,18,26,254,0,0
41,Danielle Adams,CON,F/C,185,108.0,31.555880,US,"February 19, 1989",28,Texas A&M,5,18,81,16,43,37.2,12,30,40.0,5,5,100.0,6,4,10,4,4,4,7,49,0,0
42,Danielle Robinson,PHO,G,175,57.0,18.612245,US,"October 5, 1989",27,Oklahoma,7,28,680,79,178,44.4,0,5,0.0,51,61,83.6,13,73,86,106,33,4,58,209,0,0
43,Dearica Hamby,SAN,F,191,86.0,23.573915,US,"June 11, 1993",24,Wake Forest,2,31,650,96,207,46.4,3,8,37.5,58,95,61.1,48,91,139,32,29,8,43,253,1,0
44,Devereaux Peters,IND,F,188,79.0,22.351743,US,"August 10, 1989",28,Notre Dame,6,28,796,154,380,40.5,88,225,39.1,118,130,90.8,8,69,77,76,16,9,56,514,0,0
45,Diana Taurasi,PHO,G,183,74.0,22.096808,US,"November 6, 1982",34,Connecticut,13,20,591,121,255,47.5,22,66,33.3,112,118,94.9,31,98,129,32,20,31,28,376,3,0
46,Elena Delle Donne,WAS,G/F,196,85.0,22.126197,US,"May 9, 1989",28,Delaware,5,30,939,133,272,48.9,0,1,0.0,51,78,65.4,99,116,215,43,32,64,36,317,4,0
47,Elizabeth Williams,ATL,F/C,191,87.0,23.848030,US,"June 23, 1993",24,Duke,3,30,377,48,96,50.0,0,1,0.0,32,55,58.2,35,61,96,5,5,4,21,128,0,0
48,Emma Cannon,PHO,F,188,86.0,24.332277,US,"January 6, 1989",28,Central Florida,R,18,508,105,220,47.7,11,33,33.3,31,34,91.2,33,72,105,52,21,27,30,252,1,0
49,Emma Meesseman,WAS,C,193,83.0,22.282477,BE,"May 13, 1993",24,Belgium,5,23,617,89,233,38.2,25,79,31.6,56,65,86.2,23,58,81,70,34,5,30,259,0,0
50,Epiphanny Prince,NY,G,175,81.0,26.448980,US,"November 1, 1988",28,Rutgers,8,26,282,36,86,41.9,1,3,33.3,15,22,68.2,17,44,61,5,4,8,17,88,0,0
51,Erica Wheeler,IND,G,170,65.0,22.491349,US,"February 5, 1991",26,Rutgers,3,30,767,130,321,40.5,42,129,32.6,34,40,85.0,11,57,68,117,38,1,68,336,0,0
52,rika de Souza,SAN,C,196,86.0,22.386506,BR,"September 3, 1982",34,Brazil,13,30,579,65,112,58.0,0,0,0.0,29,32,90.6,58,74,132,35,18,7,37,159,0,0
53,Erlana Larkins,IND,F,185,93.0,27.173119,US,"February 4, 1986",31,North Carolina,9,20,386,36,92,39.1,9,35,25.7,21,24,87.5,9,26,35,24,11,8,13,102,0,0
54,Essence Carson,LA,G/F,183,74.0,22.096808,US,"July 28, 1986",31,Rutgers,10,15,61,4,16,25.0,0,0,0.0,5,6,83.3,7,2,9,0,1,3,5,13,0,0
55,Evelyn Akhator,DAL,F,191,82.0,22.477454,NG,"March 2, 1995",22,Kentucky,R,30,926,165,365,45.2,20,60,33.3,92,117,78.6,73,199,272,50,37,13,67,442,13,0
56,Glory Johnson,DAL,F,191,77.0,21.106878,US,"July 27, 1990",27,Tennessee,4,4,42,3,9,33.3,3,6,50.0,0,0,0.0,0,3,3,1,0,0,4,9,0,0
57,Imani Boyette,ATL,C,201,88.0,21.781639,US,"November 10, 1992",24,Texas,1,29,410,56,119,47.1,1,3,33.3,14,20,70.0,43,75,118,14,9,23,22,127,1,0
58,Isabelle Harrison,SAN,C,191,83.0,22.751569,US,"September 27, 1993",23,Kentucky,3,31,832,154,300,51.3,1,2,50.0,55,85,64.7,66,134,200,46,26,24,63,364,5,0
59,Ivory Latta,WAS,G,168,63.0,22.321429,US,"September 25, 1984",32,North Carolina,12,29,499,79,218,36.2,40,114,35.1,47,55,85.5,7,20,27,49,12,1,22,245,0,0

### Check NaN values
As you know, one of our first steps is to check if there are any NaN values in the dataset to find any issues. Look for the columns that cointain NaN values and count how many rows there are with that value.

In [3]:
selection = wnba.isnull().sum()
selection[selection > 0]

Weight    1
BMI       1
dtype: int64

We can see that there are only two NaNs in the whole dataset, one in the Weight column and one in the BMI one. Let's look at the actual rows that contain the NaN values.

In [4]:
empty_row = wnba.loc[wnba["Weight"].isnull()].index
wnba.iloc[empty_row]

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
91,Makayla Epps,CHI,G,178,NaN,NaN,US,"June 6, 1995",22,Kentucky,R,14,52,2,14,14.3,0,5,0.0,2,5,40.0,2,0,2,4,1,0,4,6,0,0

It looks like there is only a single row that has NaN values in it, which is good! Just in case, let's check how much removing a single row may influence our dataset by calculating the percentage of values we will be removing.

In [5]:
row = len(wnba.iloc[empty_row])
total = len(wnba)
percentage = str(round(row/total*100,4))+"%"
percentage

'0.6993%'

It is very important to be as careful as possible when dealing with NaN values and only drop data when it is strictly necessary. This decision can also be influenced by the nature of our analysis. If, for example, our analysis will not require the Weight and BMI of the players at all we can simply keep the row, given that the NaN values are only present in the Weight and BMI column.

In this specific example, let's say our decision is to drop it. Write some code to drop the NaN values.

In [6]:
wnba = wnba.drop(empty_row,axis=0)

**Do you think it is a good decision? Think about a case in which you wouldn't want to drop the value.**

In [ ]:
"""
If the sample size was less than 30
If the research was related to weight and BMI
If I could calculate weight or BMI with the available data

I wouldn't want to drop the value.
"""

### Let's make an overview of the dataset
First, check the data types of our data:

In [8]:
wnba.dtypes

Name             object
Team             object
Pos              object
Height            int64
Weight          float64
BMI             float64
Birth_Place      object
Birthdate        object
Age               int64
College          object
Experience       object
Games Played      int64
MIN               int64
FGM               int64
FGA               int64
FG%             float64
3PM               int64
3PA               int64
3P%             float64
FTM               int64
FTA               int64
FT%             float64
OREB              int64
DREB              int64
REB               int64
AST               int64
STL               int64
BLK               int64
TO                int64
PTS               int64
DD2               int64
TD3               int64
dtype: object

It looks like most of the data types are correct. Birthdate column could be casted to a `datetime` type, however, we won't use it in our analysis so for simplicity, let's leave it as an `object`. Weight column could also be casted to an `int64` type as all numbers are integers.

**Let's change the type of Weight column for practice.**

In [13]:
wnba["Weight"] = wnba["Weight"].astype("int64")

In [12]:
wnba.loc[(wnba["Experience"].str.startswith("R"))]

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
4,Alexis Jones,MIN,G,175,78,25.469388,US,"August 5, 1994",23,Baylor,R,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0
5,Alexis Peterson,SEA,G,170,63,21.799308,US,"June 20, 1995",22,Syracuse,R,14,90,9,34,26.5,2,9,22.2,6,6,100.0,3,13,16,11,5,0,11,26,0,0
6,Alexis Prince,PHO,G,188,81,22.917610,US,"February 5, 1994",23,Baylor,R,16,112,9,34,26.5,4,15,26.7,2,2,100.0,1,14,15,5,4,3,3,24,0,0
18,Breanna Lewis,DAL,C,196,93,24.208663,US,"June 22, 1994",23,Kansas State,R,12,50,2,12,16.7,0,0,0.0,3,4,75.0,2,7,9,2,0,0,7,7,0,0
21,Bria Holmes,ATL,G,185,77,22.498174,US,"April 19, 1994",23,West Virginia,R,28,655,85,231,36.8,9,50,18.0,56,84,66.7,29,56,85,52,23,7,31,235,0,0
23,Brionna Jones,CON,F,191,104,28.507990,US,"December 18, 1995",21,Maryland,R,19,112,14,26,53.8,0,0,0.0,16,19,84.2,11,14,25,2,7,1,7,44,0,0
48,Emma Cannon,PHO,F,188,86,24.332277,US,"January 6, 1989",28,Central Florida,R,18,508,105,220,47.7,11,33,33.3,31,34,91.2,33,72,105,52,21,27,30,252,1,0
55,Evelyn Akhator,DAL,F,191,82,22.477454,NG,"March 2, 1995",22,Kentucky,R,30,926,165,365,45.2,20,60,33.3,92,117,78.6,73,199,272,50,37,13,67,442,13,0
70,Kaela Davis,DAL,G,188,77,21.785876,US,"March 15, 1995",22,South Carolina,R,23,208,27,75,36.0,20,55,36.4,3,4,75.0,2,20,22,5,7,1,6,77,0,0
79,Kelsey Plum,SAN,G,173,66,22.052190,US,"August 24, 1994",23,Washington,R,28,610,73,210,34.8,29,78,37.2,50,58,86.2,11,42,53,91,13,4,72,225,0,0
84,Lanay Montgomery,SEA,C,196,96,24.989588,US,"September 17, 1993",23,West Virginia,R,7,28,3,7,42.9,0,0,0.0,0,0,0.0,0,5,5,0,1,4,2,6,0,0
87,Lindsay Allen,NY,G,173,65,21.718066,US,"March 20, 1995",22,Notre Dame,R,23,314,21,50,42.0,0,11,0.0,6,9,66.7,8,28,36,47,13,1,18,48,0,0
90,Maimouna Diarra,LA,C,198,90,22.956841,SN,"January 30, 1991",26,Sengal,R,9,16,1,3,33.3,0,0,0.0,1,2,50.0,3,4,7,1,1,0,3,3,0,0
93,Matee Ajavon,ATL,G,173,73,24.391059,US,"July 5, 1986",31,Syracruse,R,27,218,22,69,31.9,0,3,0.0,29,35,82.9,8,26,34,27,10,0,26,73,0,0
101,Nayo Raincock-Ekunwe,NY,F/C,188,79,22.351743,CA,"August 29, 1991",25,Simon Fraser,R,27,243,33,63,52.4,0,4,0.0,30,49,61.2,24,22,46,8,2,1,13,96,0,0
102,Nia Coffey,SAN,F,185,77,22.498174,US,"May 21, 1995",22,Northwestern,R,25,203,16,59,27.1,0,4,0.0,16,22,72.7,16,30,46,6,5,6,14,48,0,0
113,Sami Whitcomb,SEA,G,178,66,20.830703,US,"July 20, 1988",29,Washington,R,29,354,46,120,38.3,33,94,35.1,14,17,82.4,12,40,52,24,22,0,24,139,0,0
116,Saniya Chong,DAL,G,173,64,21.383942,US,"June 27, 1994",23,Connecticut,R,29,348,27,74,36.5,8,35,22.9,25,29,86.2,9,19,28,33,21,3,23,87,0,0
119,Shatori Walker-Kimbrough,WAS,G,180,64,19.753086,US,"May 18, 1995",22,Maryland,R,22,260,29,78,37.2,9,26,34.6,29,32,90.6,4,13,17,10,11,1,12,96,0,0
126,Stephanie Talbot,PHO,G,185,87,25.420015,AU,"December 20, 1990",26,Australia,R,30,555,47,114,41.2,15,38,39.5,29,44,65.9,28,58,86,50,22,8,28,138,0,0
130,Sydney Wiese,LA,G,183,68,20.305175,US,"July 13, 1992",25,Oregon State,R,25,189,19,50,38.0,13,32,40.6,4,8,50.0,3,18,21,6,4,3,2,55,0,0
134,Temi Fagbenle,MIN,C,193,89,23.893259,UK,"August 9, 1992",25,Southern California,R,17,74,6,14,42.9,0,0,0.0,5,6,83.3,3,13,16,1,3,3,8,17,0,0

**After checking the data types, let's check for outliers using the describe() method.**

In [ ]:
wnba.describe()

In [ ]:
wnba.describe(exclude=[np.number])

**Comment on your result. What do you see?**

In [ ]:
"""
The average height is 184 cm, the weight is 79 kg, and age is 27. 
Also, 13 teams are in the database with 5 unique positions. 
The basketball players are from 75 different colleges and 
"""

**Now we can save the cleaned data to a new .csv file called `wnba_clean.csv` in the data folder.**

In [15]:
wnba.to_csv("../data/wnba-clean.csv", index=False)